<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtao.aianswering.app.dao.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.hongtao.aianswering.app.model.entity.Question">
            <id property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="questionContent" column="question_content" jdbcType="VARCHAR"/>
            <result property="appId" column="appId" jdbcType="BIGINT"/>
            <result property="createUserId" column="createUserId" jdbcType="BIGINT"/>
            <result property="createUserName" column="createUserName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateUserId" column="updateUserId" jdbcType="BIGINT"/>
            <result property="updateUserName" column="updateUserName" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="stateCode" column="stateCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,question_content,appId,
        createUserId,createUserName,createTime,
        updateUserId,updateUserName,updateTime,
        stateCode
    </sql>
</mapper>
