<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtao.base.baseFramwork.selectoption.dao.SelectOptionMapper">

    <resultMap id="BaseResultMap" type="com.hongtao.base.baseFramwork.selectoption.model.entity.SelectOption">
            <id property="selectOptionId" column="select_optionId" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="remarkName" column="remark_name" jdbcType="VARCHAR"/>
            <result property="createUserId" column="createUserId" jdbcType="BIGINT"/>
            <result property="createUserName" column="createUserName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateUserId" column="updateUserId" jdbcType="BIGINT"/>
            <result property="updateUserName" column="updateUserName" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="stateCode" column="stateCode" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        select
        select_optionId,name,remark_name,
        createUserId,createUserName,createTime,
        updateUserId,updateUserName,updateTime,
        stateCode,remark
    </sql>
</mapper>
